{% extends 'base.html' %}
{%load static %}
{% block head%}
    <title>{{game.title}}</title>
    <link rel="stylesheet" href="{% static 'css/viewdtails.css' %}">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');
                if(value == "all")
                {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                }
                else
                {
        //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
        //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter").not('.'+value).hide('3000');
                    $('.filter').filter('.'+value).show('3000');
                }
            });
            if ($(".filter-button").removeClass("active")) {
        $(this).removeClass("active");
        }
        $(this).addClass("active");
        });
    </script>
{%endblock%}

{%block body %}

    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title">{{game.title}}</h1>
        <p class="longDescription">{{game.longDescription}}</p>

        <div class="container">
            <ul class="price">
                <li class="header">Specs</li>
                <li class="grey">{{game.price}} Dt</li>
                <li class="info">Os : {{game.os}}</li>
                <li class="info">Cpu : {{game.cpu}}</li>
                <li class="info">Gpu : {{game.gpu}}</li>
                <li class="info" >Ram : {{game.ram}}</li>
                <li class="info">Hdd : {{game.hdd}}</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="container element">
        <iframe width="1110" height="600"
        src="{{game.youtubeUrl}}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
    </div>
    <br>
<div>
    <div class="row">

        <div class="gallery_product element col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <img src="{{game.img1Url}}" class="img-responsive">
        </div>

        <div class="gallery_product element col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="{{game.img2Url}}" class="img-responsive">
        </div>

        <div class="gallery_product element col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <img src="{{game.img3Url}}" class="img-responsive">
        </div>

        <div class="gallery_product element col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="{{game.img4Url}}" class="img-responsive">
        </div>

        <div class="gallery_product element col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="{{game.img5Url}}" class="img-responsive">
        </div>

        <div class="gallery_product element col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="{{game.img6Url}}" class="img-responsive">
        </div>
    </div>
</div>

{%endblock%}